sudo: required
language: python
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
services:
  - docker
python:
  - "2.7"
install:
  - sudo pip install selenium mechanize
  - pip list
script:
  - ./init.sh
  - ./run.sh
  - ./finalize.sh
